/*{
    box-sizing: border-box;    
}

body{
    background-image: url("../images/image.jpg");
    padding:2%;
    margin:2%;
*/
/*
body {
    font-family: Arial, Helvetica, sans-serif;
}
body:before {
    content: "";
    position: absolute;
    background: url("../images/image.jpg");
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
/* height: 22.5%; width: 20%; /* Using Glen Maddern's trick /via @mente */
/* don't forget to use the prefixes you need 
    transform: scale(5);
    transform-origin: top left;
    filter: blur(1px);
}*/
* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  background-color: black;
  color: bisque;
  position: sticky;
  top: 0px;
  z-index: 999;
  /*end of nesting social*/
  /*end of nesting links*/
}

.nav .topNavigation {
  display: none;
}

.nav .social {
  width: 20%;
  align-self: center;
}

.nav .social i {
  margin: 5%;
}

.nav #links {
  width: 80%;
}

.nav #links > * {
  margin: 2%;
}

@media screen and (max-width: 650px) {
  .nav {
    display: flex;
    /*end of top navigation*/
  }
  .nav #links {
    display: none;
  }
  .nav .topNavigation {
    display: block;
  }
  .nav .topNavigation {
    display: flex;
    height: 12vh;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 2;
    /*ending of menulist*/
    /*end of nav nesting*/
  }
  .nav .topNavigation .menulist {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
    margin-left: 60px;
    background-color: black;
  }
  .nav .topNavigation .menulist span, .nav .topNavigation .menulist span::before, .nav .topNavigation .menulist span::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: white;
    transition: all 250ms ease-in-out;
  }
  .nav .topNavigation .menulist span::before {
    transform: translateY(-10px);
  }
  .nav .topNavigation .menulist span::after {
    transform: translateY(10px);
  }
  .nav .topNavigation .toggle-checkbox:checked ~ .menulist > span::after {
    transform: rotate(270deg) translateX(-1px) translateY(-1px);
  }
  .nav .topNavigation .toggle-checkbox:checked ~ .menulist > span {
    transform: rotate(45deg);
  }
  .nav .topNavigation .toggle-checkbox:checked ~ .menulist > span::before {
    transform: translateY(5px);
    opacity: 0;
  }
  .nav .topNavigation .toggle-checkbox:checked ~ nav {
    transform: translateY(-3vh);
    display: block;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .nav .topNavigation .toggle-checkbox {
    display: none;
  }
  .nav .topNavigation nav {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: absolute;
    top: 14vh;
    left: 2vw;
    width: 200px;
    font-size: 1.5em;
    transform: translateY(-3vh);
    border-radius: 10px;
    transition: all 250ms ease-in-out;
    overflow: hidden;
    z-index: 9999;
    /*end of ul nesting*/
  }
  .nav .topNavigation nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*end of li nesting*/
  }
  .nav .topNavigation nav ul li {
    padding: 1em;
    font-weight: 700;
    background-color: #ffffff;
    border: solid 1px #f4f4f4;
  }
  .nav .topNavigation nav ul li:hover {
    background-color: bisque;
  }
  .nav .topNavigation nav ul li a {
    text-decoration: none;
    color: #313131;
  }
  .nav .social {
    width: 50%;
  }
  /* */
}

/**/
.wrapper {
  position: relative;
  color: bisque;
  background-color: #12343b;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . " ".  hi . . ." ". name name name ." ". education education education ." ". . . caption caption" ". . . . . ";
  /*nesting wrapper starts*/
  /*
.hi, .name, .education, .caption{
  width:100%;
overflow:hidden;
animation:animate 2s linear forwards;
  span{
    color:bisque;
  }
}
@keyframes animate {
  0%{
    width:0px;
    height:0px;
  }
  30% { 
    width: 50px; 
    height: 0px; 
} 
60% { 
    width: 50px; 
    height: 80px; 
} 

}*/
}

.wrapper .hi {
  grid-area: hi;
}

.wrapper .name {
  grid-area: name;
}

.wrapper .education {
  grid-area: education;
}

.wrapper .caption {
  grid-area: caption;
}

@media only screen and (max-width: 650px) {
  .wrapper {
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas: ". . ." ".  hi ." ".  name ." ". education ." ". caption .";
  }
  .wrapper .hi, .wrapper .name, .wrapper .eduction {
    text-align: center;
  }
  .wrapper .eduction {
    align-self: center;
  }
  .wrapper .caption {
    justify-self: end;
  }
}

.wrapper .hi {
  animation-delay: 1s;
}

.wrapper .name {
  animation-delay: 2s;
}

.wrapper .education {
  animation-delay: 3s;
}

.wrapper .caption {
  animation-delay: 4s;
}

.wrapper .hi, .wrapper .name, .wrapper .education, .wrapper .caption {
  width: 100%;
  overflow: hidden;
  animation: animate 2s linear forwards;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  30% {
    width: 50px;
    height: 0px;
  }
  60% {
    width: 50px;
    height: 80px;
  }
}

/*nesting of warpper ends*/
/*end of mixin container*/
.grid_container {
  height: 100%;
  max-height: 200vh;
  margin-top: 2%;
  color: bisque;
  background-color: #12343b;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 2fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.25fr 0.25fr 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-areas: ". . . . . . ." " . heading heading . . . .  " " . . details details details details . " " . image details details details details . " " . image details details details details . " ". .  details details details details . " ". . select select select select ." ". . . . . . .";
  /*end of nesting .details*/
  /*end of nesting .select*/
  /*end of media queries*/
}

.grid_container .heading {
  font-size: 3rem;
  grid-area: heading;
}

.grid_container #image {
  border-radius: 50%;
  padding: 1%;
  z-index: 10;
  width: 100%;
  height: auto;
  grid-area: image;
  border: 10px solid white;
}

.grid_container .details {
  background-color: white;
  grid-area: details;
  height: 100%;
  color: #12343b;
  padding: 2rem;
  text-align: center;
}

.grid_container .details.details p {
  text-align: left;
}

.grid_container .select {
  grid-area: select;
  text-align: center;
}

.grid_container .select button {
  margin: 1rem;
}

@media screen and (max-width: 900px) {
  .grid_container .details {
    height: 100%;
  }
  .grid_container #image {
    padding: 0px;
    border: 0.5rem solid white;
  }
}

@media screen and (max-width: 768px) {
  .grid_container {
    display: flex;
    grid-gap: 0.1rem;
    flex-direction: column;
    height: 110vh;
    align-items: center;
    background-color: white;
  }
  .grid_container #image {
    width: 30%;
    height: auto;
    padding: 0px;
    align-self: auto;
    border: 0.5rem solid white;
  }
  .grid_container .heading {
    background-color: #12343b;
    align-self: stretch;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .grid_container {
    height: 100%;
  }
}

@media screen and (max-width: 350px) {
  .grid_container {
    height: 100%;
  }
}

/*end of nesting grid_container        to here*/
/*@media  screen and(max-width:1024px) and (min-width:900px) and (aspect-ratio:4/3){
  .grid_container{
    height:100vh;
      .details{
        height:75vh;}
        #img{
          
        }
      }

}*/
.projects {
  margin-top: 1%;
  color: bisque;
  background-color: #12343b;
  height: 100%;
  max-height: 400vh;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . . ." ". h1 h1 . . . . . " ". yatzy yatzy yatzy quiz quiz quiz ." ". yatzy yatzy yatzy quiz quiz quiz ." ". acme acme acme cv cv cv ." ". acme acme acme cv cv cv ." ". . . . . . . .";
}

.projects .yatzy, .projects .quiz, .projects .acme, .projects .cv {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.projects img {
  width: 100%;
  max-width: 70vh;
  height: auto;
}

.projects h1 {
  grid-area: h1;
  align-self: center;
}

.projects .yatzy {
  grid-area: yatzy;
}

.projects .quiz {
  grid-area: quiz;
}

.projects .acme {
  grid-area: acme;
}

.projects .cv {
  grid-area: cv;
}

.projects .yatzy, .projects .quiz, .projects .acme, .projects .cv {
  font-size: 0.75rem;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.5fr;
  grid-template-areas: "p_img p_head" "p_img p_desc" "p_img p_link";
}

.projects .p_img {
  height: 100%;
  width: auto;
  max-width: 100%;
  grid-area: p_img;
  border-radius: 5px;
}

.projects .p_head {
  grid-area: p_head;
}

.projects .p_desc {
  grid-area: p_desc;
}

.projects .p_link {
  grid-area: p_link;
  justify-self: center;
}

@media only screen and (max-width: 950px) {
  .projects {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects h1 {
    margin-top: 5rem;
  }
  .projects .yatzy, .projects .quiz, .projects .acme, .projects .cv {
    width: 60%;
    height: auto;
  }
  .projects .yatzy .p_img, .projects .quiz .p_img, .projects .acme .p_img, .projects .cv .p_img {
    height: 100%;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .projects .yatzy, .projects .quiz, .projects .acme, .projects .cv {
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {
  .projects .yatzy, .projects .quiz, .projects .acme, .projects .cv {
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  .projects .yatzy, .projects .quiz, .projects .acme, .projects .cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-bottom: 3rem;
  }
  .projects .yatzy .p_img, .projects .quiz .p_img, .projects .acme .p_img, .projects .cv .p_img {
    width: 100%;
  }
  .projects .yatzy .p_desc, .projects .quiz .p_desc, .projects .acme .p_desc, .projects .cv .p_desc {
    padding: 0 2rem;
  }
}

/*end of nesting projects*/
.contact_page {
  margin-top: 1%;
  color: bisque;
  background-color: #12343b;
  height: 100vh;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . " ". contact_head . .  " ". contact_form maps ." ". contact_form maps ." ". contact_form maps ." ". contact_form  maps ." ". contact_form  maps ." ". contact_form  maps ." ". . . . ";
}

.contact_page .contact_head {
  font-size: 2.5rem;
  grid-area: contact_head;
}

.contact_page .contact_form {
  max-width: 50rem;
  max-height: 90%;
  background-color: white;
  color: black;
  padding-left: 1rem;
  grid-area: contact_form;
  display: flex;
  flex-direction: column;
}

.contact_page .contact_form input, .contact_page .contact_form textarea {
  width: 85%;
}

.contact_page .maps {
  grid-area: maps;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_page .contact_link {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 700px) {
  .contact_page {
    display: grid;
    height: 130vh;
    grid-template-areas: ". . . . " ".  contact_head  . . " ". contact_form contact_form  . " ".  maps maps . ";
  }
  .contact_page .contact_form {
    max-height: 100%;
  }
  .contact_page .contact_form .submit {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  .contact_page {
    height: 150vh;
  }
}

.bottomNavigation {
  background-color: black;
  color: white;
}

.bottomNavigation div {
  text-align: center;
  padding: 1%;
}

.info p {
  padding: 1%;
}

.social_footer i {
  padding: 1%;
}

@media screen and (min-width: 700px) {
  .info {
    width: 60%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
  }
  .social_footer {
    width: 15%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
  }
}

#skills {
  height: 100vh;
  margin-top: 2%;
  color: bisque;
  background-color: #12343b;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 2fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.25fr 0.25fr 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-areas: ". . . . . . ." " . heading heading . . . .  " " . . details details details details . " " . image details details details details . " " . image details details details details . " ". .  details details details details . " ". . select select select select ." ". . . . . . .";
  /*end of nesting .details*/
  /*end of media queries*/
}

#skills .heading {
  font-size: 3rem;
  grid-area: heading;
}

#skills #image {
  border-radius: 50%;
  padding: 1%;
  z-index: 10;
  width: 100%;
  height: auto;
  grid-area: image;
  border: 10px solid white;
}

#skills .details {
  background-color: white;
  grid-area: details;
  color: #12343b;
  padding: 2rem;
  /*end of nesting skill_progress*/
}

#skills .details .skill_progress {
  margin: 10% 10% 0 10%;
  max-height: 70%;
}

#skills .details .skill_progress .progress {
  margin: 5%;
}

@media screen and (max-width: 850px) {
  #skills #image {
    height: 30vh;
    padding: 0px;
    border: 0.5rem solid white;
  }
  #skills .details {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) {
  #skills {
    display: flex;
    grid-gap: 0.1rem;
    flex-direction: column;
    max-height: 100vh;
    align-items: center;
    background-color: white;
  }
  #skills #image {
    height: 20vh;
    padding: 0px;
    align-self: auto;
    border: 0.5rem solid white;
  }
  #skills .heading {
    background-color: #12343b;
    align-self: stretch;
    text-align: center;
  }
}
/*# sourceMappingURL=cv.css.map */