/*{
    box-sizing: border-box;    
}

body{
    background-image: url("../images/image.jpg");
    padding:2%;
    margin:2%;
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}
body:before {
    content: "";
    position: absolute;
    background: url("../images/image.jpg");
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 22.5%; width: 20%; /* Using Glen Maddern's trick /via @mente */

    /* don't forget to use the prefixes you need */
    transform: scale(5);
    transform-origin: top left;
    filter: blur(1px);
}


